body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: background 0.5s ease, color 0.5s ease;

}
.animated-cursor {
  z-index: 9999 !important; 
  pointer-events: none;      
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  margin-bottom: 2rem;
}

header {
  padding: 2rem;
  background: linear-gradient(135deg, #00acc1, #00acc1);
  color: white;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.bg-light {
  background-image: url('https://images.unsplash.com/photo-1499346030926-9a72daac6c63?auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
}

.bg-dark {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}


.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  backdrop-filter: blur(4px);
}

h2 {
  border-bottom: 2px solid rgba(0,0,0,0.1);
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

h5 {
  margin-top: 1rem;
}
.navbar {
  z-index: 1000; /* default Bootstrap navbar value */
  position: fixed; /* ensure it stays at top */
  top: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 2rem;
}

.bg-dark footer {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1350&q=80');
  color: white;
}

.bg-light footer {
  background-image: url('https://images.unsplash.com/photo-1499346030926-9a72daac6c63?auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
